<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<welcome-file-list>
		<welcome-file>Servlet</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>Servlet</servlet-name>
		<servlet-class>com.exiclys.formation.java.computerdatabase.servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Servlet</servlet-name>
		<url-pattern>/toto</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ServletComputer</servlet-name>
		<servlet-class>com.excilys.formation.java.computerdatabase.servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletComputer</servlet-name>
		<url-pattern>/titi</url-pattern>
	</servlet-mapping>

<error-page>
    <!-- Forbidden directory listing -->
    <error-code>403</error-code>
    <location> /views/403.html</location>
</error-page>
<error-page>
    <!-- Missing resource -->
    <error-code>404</error-code>
    <location>/views/404.html</location>
</error-page>
<error-page>
    <!-- Uncaught exception -->
    <error-code>500</error-code>
    <location>/views/500.html</location>
</error-page>
</web-app>