<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<file>computerdatabase.log</file>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level%logger{36}-%msg%n
			</Pattern>
		</layout>
	</appender>
	<!-- http://www.codingpedia.org/ama/how-to-log-in-spring-with-slf4j-and-logback/ -->
	<logger name="org.springframework" additivity="false">
    	    <level value="DEBUG" />
		<appender-ref ref="STDOUT" />
	</logger>
		<logger name="org.hibernate" additivity="false">
    	    <level value="DEBUG" />
		<appender-ref ref="STDOUT" />
	</logger>
	<logger name="com.excilys.formation.java.computerdatabase">
		<appender-ref ref="STDOUT" />
	</logger>
</configuration>